.vscode/
hostfile
__pycache__/
vci_job_*
lightning_logs/
outputs/
log/
uv.lock
tmp/
notebooks/
*.sif
*.slurm
temp
wandb/
*.h5ad
*.vcc
*.ckpt
*.csv
*.h5
*.pkl
*.pt
*.torch
*zip
trial.ipynb
train_script.py
DETAILED_EVALUATION_ANALYSIS.md
EVALUATION_ANALYSIS.md
*.md
*.h5
*.h5ad
*.ckpt
*.csv
*.pkl
*.pt
*.torch
*.zip
*.h5
*.h5ad
*.ckpt
*.csv
*.pkl
*.pt
*.torch
*.zip
*.pth
*.sh
*.err
*.out
zstd/
zstd-1.5.6/
.venv/
